<footer class="footer footer_fixed py-3">
  <div class="container">
    <span class="text-muted">Chrome: <%= @uniq_visitors_chrome %></span>
    <span class="text-muted">Firefox: <%= @uniq_visitors_firefox %></span>
  </div>
</footer>